<%= partial "partials/head" %>
	<body>

		<!-- Content -->
			<div id="content">
				<div class="inner">
                  <%= yield %>


				</div>
			</div>

		<!-- Sidebar -->
		   <%= partial "partials/sidebar" %>
			

		<!-- Scripts -->
      <%= partial "partials/scripts" %>
	</body>
</html>