					<nav id="nav">
						<ul>
							<li><a href="/archives.html">Archives</a></li>
							<li><a href="/about.html">Why not C?</a></li>
							<li><a href="/no-comment.html">No Comment</a></li>
						</ul>
					</nav>