---
title: Archives
---

article.box.post.post-excerpt
  - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
    header
      h2= year
    - articles.each do |article|
      h3
        b= article.date.strftime("%b ")
        b= article.date.day.ordinalize + ': '
        a href="#{article.url}" = article.title
        = ' - ' + article.data.summary unless article.data.summary.nil?
 