---
title: A Sample Page
---

<article class="box post post-excerpt">
  
  <header>
      <h2>Something Something Dark Side</h2>
        
         
  
  </header>
   <p>Say anything.</p>
        
</article>